{% extends "logged_in.html" %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mt-5">Nieuws</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4>Nieuwsberichten</h4>
                <hr>
                {% for item in allArticles %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card flex-column">
            <div class="card-body">
                <div class="newsImg text-white pl-2" style="background-image:url({{item.header}}); height: 120px; width: 100%; border-radius: 4px;">
                    <div>
                        <h4 style="padding-top: 3.5vh">{{item.title}}</h4>
                        <p>{{item.short_story}}</p>
                    </div>
                </div>
                <div class="pt-2">
                    <span>{{item.full_story}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
