<html>
<head>
    <title>{{hotelname}}: Client</title>
    <link rel="stylesheet" href="/assets/css/hotel.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>
    <div class="loading-container">
        <div id="loading-background"></div>
        <div class="loading-content">
            <div class="loading-text"></div>
            <div class="loadingio-spinner-rolling-g8e30ksre2i">
                <div class="ldio-h4dolqdh5lr">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
  
    <div id="client" style="flex: 1;"></div>

    <script>
        const flashVars = {
            "client.allow.cross.domain": 1,
            "client.notify.cross.domain": 1,
            "client.starting": "Please wait!",
            "client.starting.revolving": "Loading",
            "connection.info.host": "{{getenv('meteor.swf.client.ip')}}",
            "connection.info.port": "{{getenv('meteor.swf.client.port')}}",
            "client.reload.url": "{{base_url}}hotel",
            "client.fatal.error.url": "{{base_url}}hotel",
            "client.connection.failed.url": "{{base_url}}hotel",
            "logout.url": "{{base_url}}auth/logout",
            "logout.disconnect.url": "{{base_url}}auth/logout",
            "url.prefix": "{{getenv('meteor.swf.domain')}}",
            "unique_habbo_id": "{{unique_id}}",
            "processlog.enabled": "1",
            "sso.ticket": "{{auth_token}}",
            "productdata.load.url": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.productdata')}}",
            "furnidata.load.url": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.furnidata')}}",
            "external.texts.txt": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.external.texts')}}",
            "external.variables.txt": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.external.variables')}}",
            "external.figurepartlist.txt": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.figuredata')}}",
            "external.override.texts.txt": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.override.external.flash.texts')}}",
            "external.override.variables.txt": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.override.external.variables')}}",
            "flash.client.url": "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.external.base')}}/",
            "flash.client.origin": "popup",

            {%  if not nux_active %}
            "new.user.onboarding.hc.flow.enabled": "true",
            "new.user.flow.enabled": "true",
            "new.user.flow.roomTypes": "10,11,12",
            "new.user.flow.name": "{{user.username}}",
            {% endif %}
        };
        
        window.addEventListener("load", () => {
            const client = document.getElementById("client")
            const swfObject = document.createElement("object")
            swfObject.setAttribute("type", "application/x-shockwave-flash")
            swfObject.setAttribute("data", "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.external.base')}}/{{getenv('meteor.swf.loader')}}")
            swfObject.setAttribute("height", "100%")
            swfObject.setAttribute("width", "100%")
            swfObject.setAttribute("id", "flash-container")

            swfObject.appendChild(createParam({
                name: "base",
                value: "{{getenv('meteor.swf.domain')}}/{{getenv('meteor.swf.external.base')}}/"
            }))
            swfObject.appendChild(createParam({
                name: "allowScriptAccess",
                value: "always"
            }))
            swfObject.appendChild(createParam({
                name: "menu",
                value: "false"
            }))
            swfObject.appendChild(createParam({
                name: "flashvars",
                value: createFlashVars(flashVars)
            }))

            client.appendChild(swfObject)

            window.LoadingClient = document.getElementsByClassName("loading-container");

            window.HabboFlashClient = {
                flashInterface: document.getElementById("flash-container") // <object> id of habbo.swf
            }
        });
    </script>
    
    <script src="/assets/javascript/param_loader.js"></script>
    <script src="/assets/javascript/external_interface.js?v={{date().timestamp}}"></script>
</html>