<!DOCTYPE HTML>
<html>
<head>
<title>Hotel - {{hotelname}}</title>
<link rel="icon" href="/assets/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assets/css/hotel.css?v=475">
<link rel="stylesheet" type="text/css" href="/assets/css/hotelview.css?v=1">

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/javascript/swfobject.js?v=475"></script>
<script type="text/javascript">
        var flashvars = {
              "client.allow.cross.domain": "1",
              "client.notify.cross.domain": "0",
              "connection.info.host": "{{getenv('cosmic.swf.client.ip')}}",
              "connection.info.port": "{{getenv('cosmic.swf.client.port')}}",
              "site.url": '{{base_url}}',
              "url.prefix": '{{base_url}}',
              "client.reload.url": "{{base_url}}/hotel",
              "client.fatal.error.url": "{{base_url}}hotel",
              "client.connection.failed.url": "{{base_url}}hotel",
              "external.override.texts.txt": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.override.external.flash.texts')}}",
              "external.texts.txt": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.external.texts')}}",
              "external.variables.txt": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.external.variables')}}",
              "external.figurepartlist.txt": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.figuredata')}}",
              "external.figurepartlist.txt": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.figuremap')}}",
              "productdata.load.url": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.productdata')}}",
              "furnidata.load.url": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.furnidata')}}",
              "sso.ticket": "{{user.auth_ticket}}",
              "account_id": "{{user.id}}",
              "ads.domain": "",
              "processlog.enabled": "1",
              "client.starting": "Frank brengt je koffers naar je hotelkamer!",
              "flash.client.url": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.external.base')}}/",
              "flash.client.origin": "popup"
        };
    </script>
<script type="text/javascript" src="/assets/javascript/hotelapi.js"></script>
<script type="text/javascript">
        var params = {
            "base": "{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.external.base')}}/",
            "allowScriptAccess": "always",
            "menu": "false",
            "wmode": "opaque"
        };

        window.FlashExternalInterface.logout = function() {
            var signoutUrl = "{{base_url}}/auth/logout";

            if (window.opener)
            {
                window.opener.location = signoutUrl;
                window.close();
            } else
                window.location = signoutUrl;
        };

        swfobject.embedSWF('{{getenv('cosmic.swf.domain')}}/{{getenv('cosmic.swf.external.base')}}/{{getenv('cosmic.swf.loader')}}', 'flash-container', '100%', '100%', '11.1.0', 'https://www.leet.ws/assets/flash/expressInstall.swf', flashvars, params, null, null);
    </script>
<script>
	function requestFlashPermission()
	{
		var container = document.createElement('div');
		container.innerHTML = '<meta http-equiv="refresh" content="0;URL=https://www.macromedia.com/go/getflashplayer">';
		document.body.appendChild(container);
	}
	
	window.onload=function() {
		if(!swfobject.hasFlashPlayerVersion('10')) {
			$(window).one('click',requestFlashPermission);
			
			requestFlashPermission();
		}
	}
	</script>
<style>body{margin:0;background:#000;color:#7ecaee;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;font-family:Ubuntu,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;font-size:16px;font-variant-ligatures:common-ligatures;line-height:1.4;min-height:100vh;}.client-error{max-width:480px;}.client-error__title{text-align:center;}.client-error__flash{background-image:url('/web/client/flash/flashplayer.png');display:inline-block;height:39px;margin:12px 12px 0;width:158px;}h1,h2,h3,h4,h5,h6{color:#fff;font-family:"Ubuntu Condensed","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;font-weight:400;margin:.6em 0;line-height:1.2;}h1,h2,h3,h4,h5{text-transform:uppercase;}p{margin:.75em 0;}a{color:#fff;cursor:pointer;outline:0;text-decoration:none;}</style>
</head>
<body id="client" class="flashclient">

    <div id="client-ui">
        <div id="flash-wrapper" style="height: 100%;top:initial;bottom:0;position:absolute;width:100%;">
            <div id="flash-container">
                <div id="content" style="width: 45%;margin: 0px auto 0px;display: none">
                    <div class="client-error">
                        <div style="margin-top:170px;">
                            <div class="client-error__background-frank" ng-if="!ClientErrorController.mobile">
                                <span class="client-error__text-contents">
                                <h1 class="client-error__title" translate="CLIENT_ERROR_TITLE">Je bent bijna in Beta!</h1>
                                <p translate="CLIENT_ERROR_FLASH">Klik hieronder op de gele Hotel knop en klik vervolgens op "Flash" wanneer hier om gevraagd wordt. Tot ziens in het Hotel!</p>
                                </span>
                                <div class="client-error__hotel-button-div">
                                    <a ng-href="http://www.adobe.com/go/getflashplayer" target="_blank" rel="noopener noreferrer" class="hotel-button" href="https://www.adobe.com/go/getflashplayer">
                                        <span class="hotel-button__text" translate="NAVIGATION_HOTEL">Hotel</span>
                                    </a>
                                </div>
                                <div class="client-error__mobile">
                                    <p translate="CLIENT_ERROR_MOBILE">Als je op een iPad, iPhone of een Android-apparaat bent, kun je <a href="https://itunes.apple.com/nl/app/puffin-web-browser/id472937654?mt=8">Puffin</a> downloaden in de App Store of <a href="https://play.google.com/store/apps/details?id=com.cloudmosa.puffinFree&hl=nl">Puffin</a> op Google Play.</p>

                                    <div class="client-error__downloads">
                                        <a ng-href="https://itunes.apple.com/nl/app/puffin-web-browser/id472937654?mt=8" target="_blank" rel="noopener noreferrer" class="client-error__appstore" href="https://itunes.apple.com/nl/app/puffin-web-browser/id472937654?mt=8"></a>
                                        <a ng-href="https://play.google.com/store/apps/details?id=com.cloudmosa.puffinFree&hl=nl" target="_blank" rel="noopener noreferrer" class="client-error__googleplay" href="https://play.google.com/store/apps/details?id=com.cloudmosa.puffinFree&hl=nl"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#content').show();
                </script>
            </div>
        </div>

        <div id="content" class="client-content">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  


        </div>
</div>
</body>
</html>