{% extends "not_logged_in.html" %}
{% block body %}   
    <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h4>Registreer op {{hotelname}}</h4>
                        <hr>
                        <div class="row text-left">
                            <div class="col-md-12">
                                <form action="" method="POST">
                                    <label for="username">{{hotelname}}naam</label>
                                    <input type="text" name="username" placeholder="{{hotelname}}naam..." id="username" class="form-control">
                                    <label for="password" id="password" class="pt-4">Uw wachtwoord</label>
                                    <input type="password" placeholder="Wachtwoord..." name="password" class="form-control">
                                    <label for="repeatpassword" id="repeatpassword" class="pt-4">Herhaal uw wachtwoord</label>
                                    <input type="password" placeholder="Wachtwoord herhalen..." name="repeatpassword" class="form-control">
                                    <label for="gender" id="repeatpassword" class="pt-4">Selecteer uw geslacht</label>
                                    <select class="form-control" name="gender" id="gender">
                                        <option value="man">Man</option>
                                        <option value="woman">Woman</option>
                                    </select>
                                    recaptcha
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-outline-info w-100" value="Registreren">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}