{% extends "base.html" %}
{% block body %}
    <div class="card" style="margin-top: 15vh;">
        <div class="card-body" style="padding: 0px !important">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-3">
                        <h3 class="aside-title">Inloggen</h3>
                        <hr>
                             <form action="/auth/login/request" method="post" id="login">
                                    <label for="username">Uw mailadres</label>
                                    <input type="text" name="mail" id="mail" class="form-control {% if validation.geterror('mail') %}error{% endif %}"
                                           placeholder="Vul hier uw mailadres in...">
                                    <label for="password" id="password" class="pt-4">Uw wachtwoord</label>
                                    <input type="password" name="password" class="form-control {% if validation.geterror('password') %}error{% endif %}"
                                           placeholder="Vul hier uw wachtwoord in...">
                                
                                    <div class="row mt-4">
                                        <div class="col-12 col-xs-12 col-md-12">
                                            <button class="btn btn-outline-info w-100" type="submit" form="login">Inloggen</button>
                                        </div>
                                  <div class="col-12 col-xs-12 col-md-12">
                                      <a href="/register" class="btn btn-outline-warning w-100">Nieuw op {{hotelname}}? Registreer hier!</a>
                                  </div>
                                    </div>
                                </form>

                    </div>
                </div>
                <div id="next" class="carousel slide carousel-fade" data-ride="carousel" style="display: contents;">
                <div class="carousel-inner" role="listbox" style="display: contents">
                            {% for article in articles %}
                            <div class="col-md-6 text-white text-left carousel-item {% if loop.first %}active{% endif %}" style="background-image: url({{article.header}}); background-repeat: no-repeat; background-size: cover; background-position: center;">
                                <div class="numbertext">{{loop.index}} / {{articles|length}}</div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 class="text-left text-white pl-4 mt-2" style="padding-top: 3.5vh; text-shadow: 2px 2px black;">
                                            {{article.short_story}}
                                        </h3>
                                        
                                        <span class="align-bottom">
                                            <a href="/community/article/{{article.id}}/{{article.slug}}" class="btn btn-outline-light ml-4">Lees meer...</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                          <a class="carousel-control-next" href="#next" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                    </div>
                </div>
          </div>
              </div>

        </div>
    </div>
{% endblock %}