<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta name="description" content="Virtual world for young people where you can make and meet friends. Meet and make friends, chat with others, create your own avatar, design your own room for free and much more ...">
    <meta name="keywords" content="cosmic, Cosmic, virtual, world, social network, free, community, avatar, chat, online, teen, roleplaying, join, social, groups, forums, safe, play, games, online, friends, teens, rare, rare meubi, collect, make, collect, contact, meubi, furniture, pets, furnish room, share, expression, badges, hangout, music, celebrity, VIP visits, celebs, mmo, mmorpg">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://codeseven.github.io/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap">
  
    <link rel="stylesheet" href="/assets/css/avatargenerate.css">
    <link rel="stylesheet" href="/assets/css/style.css?v=15">

    {% block css %}{% endblock %}
    <title>{{hotelname}} - Homepagina</title>
</head>
<body>

<header>
    {% if user %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-transparent">
        <div class="container">
            <a href="/"><img src="/assets/images/logo.png" class="img-fluid" width="150" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-users"></i> Community
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCommunity">
                            <a class="dropdown-item" href="/community/news">Articles</a>
                            <a class="dropdown-item" href="#">Ruilwaardes</a>
                            <a class="dropdown-item" href="/community/highscores">Highscores</a>
                            <a class="dropdown-item" href="/community/staff">Medewerkers</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuShops" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-cart"></i> {{hotelname}} Shop
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nieuws</a>
                            <a class="dropdown-item" href="#">Ruilwaardes</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-gavel fa-flip-horizontal"></i>  Housekeeping</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCommunity">
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#switchUser">Switch from user</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
  
    {% if not user %}
    <div class="container">
      <a href="/"><img src="/assets/images/logo.png" class="img-fluid" width="150" alt=""></a>
    </div>
    {% endif %}
</header>

<section>
    <div class="container mainContainer">
        {% block body %}{% endblock %}
    </div>
</section>

<footer class="font-small blue pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0">
                <h5 class="text-uppercase">MeteorCMS</h5>
                <p class="text-muted">Made with &hearts; by Raizer & Highrun</p>
            </div>
            <div class="col-md-6 text-center pt-1">
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Algemene voorwaarden</a>
                    </li>
                    <li>
                        <a href="#!">Privacyvoorwaarden</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{% block modals %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://codeseven.github.io/toastr/build/toastr.min.js"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
<script src="/assets/javascript/avatargenerate.js" type="text/javascript"></script>
<script src="/assets/javascript/app.js" type="text/javascript"></script>
  
<script>
    $(document).ready(function () {
        {% if flashdata.modal %}
            $('#{{flashdata.modal}}').modal('show');
        {% endif %}
      
        {% for error,key in validation.getErrors|slice(0,1) %}
        toastr.error("{{key|capitalize }}", "{{error|capitalize }}");
        {% endfor %}

        {% if flashdata.error %}
        toastr.error("{{flashdata.error}}", "Oops..");
        {% endif %}

        {% if flashdata.info %}
        toastr.info("{{flashdata.info}}", "Info");
        {% endif %}

        {% if flashdata.success %}
        toastr.success("{{flashdata.success}}", "Success!");
        {% endif %}
    });
</script>

</body>
</html>
