<div class="modal fade" id="switchUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="modal-title" id="exampleModalLabel">Select user</h5>
                    </div>
                    <div class="col-md-12">
                        <h6>Select the user you want to use...</h6>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="UserBorder">
                                    <img class="userAvatar" src="https://www.habbo.com.br/habbo-imaging/avatarimage?figure=sh-290-81.hr-145-41.lg-270-82.hd-200-1.ch-255-66direction=2&amp;head_direction=3&amp;gesture=sml&amp;size=l" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <h6 class="pt-2">{{user.username}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="UserBorderGrey">
                                    <img src="assets/images/add.png" style="width: 84px;" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <h6 class="pt-2">Add account</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="UserBorderGrey">
                                    <img src="assets/images/add.png" style="width: 84px;" alt="">
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <h6 class="pt-2">Add account</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Switch account</button>
            </div>
        </div>
    </div>
</div>